# Ambiente de desarrollo
NODE_ENV=development
PORT=3000

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=alquiler_equipos_computo

# JWT - Cambia este valor en tu entorno real
JWT_SECRET=clave_secreta_de_desarrollo_cambiar
JWT_EXPIRES_IN=2h
